<header>
    <div class="search-bar">
        <input type="text" placeholder="Search something here...">
        <img src="https://api.iconify.design/mdi:bell.svg" alt="Notifications" class="notification-icon">
    </div>
    <div class="user-profile">
        <img src="https://api.iconify.design/mdi:account-circle.svg" alt="Profile" class="profile-icon">
        <span id="loggedInUser"></span>
    </div>
</header>
    <div class="row">
        <div class="col-12">
            <form>
                <div class="row g-2">
                    <div class="mb-3 row col-lg-6">
                        <label for="log-date-input" class="col-form-label">Log Date</label>
                        <div class="col-12">
                            <input type="date" class="form-control" id="log-date-input" aria-describedby="dateHelp">
                        </div>
                    </div>
                    <div class="mb-3 row col-lg-6">
                        <label for="observed-image-input" class="form-label">Observed Image</label>
                        <input class="form-control" type="file" id="observed-image-input">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="log-description-input">description</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
<div class="row mt-4">
    <div class="col-12">
        <table class="table table-striped table-bordered" id="log-table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Log Description</th>
                <th scope="col">Date</th>
                <th scope="col">Observed Image</th>
            </tr>
            </thead>
            <tbody id="log-table-body">

            </tbody>
        </table>
    </div>
</div>
<script src="../../controller/logsController.js"></script>





